# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Data (optional – keep sample files if needed)
data/*
!data/sample_voyage.csv

# Notebooks (optional)
notebooks/
file_structure.txt